<div id="sec-nav" class="sec-navbar">
  <h3>
    <%= link_to "Mister Cocktails", cocktails_path %>
  </h3>
  <%= link_to "Criar um Cocktail", new_cocktail_path, class: 'create-cocktail-btn' %>
</div>

<div class="show">
  <div class="container-fluid">
    <div class="cocktail">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <div class="cocktail-info">
            <h1><%= @cocktail.name %></h1>

            <% @cocktail.doses.each do |dose| %>

            <p>Ingrediente: <%= dose.ingredient.name %></p>
            <p>Descrição: <%= dose.description %></p>

            <% end %>

            <div class="cocktail-controller">
              <%= link_to "Criar Dose", new_cocktail_dose_path(@cocktail), class: 'btn-outline-dark'%>
              <%= link_to "Deletar", @cocktail, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn-outline-dark' %>
              <%= link_to "Home", cocktails_path, class: 'btn-outline-dark' %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-7 padding-0">
          <%= cl_image_tag @cocktail.photo, crop: :fill, class: 'cocktail-image' %>
        </div>
      </div>
    </div>
  </div>
</div>


